body {
    background-image: url(./img/body.png); /* Define a imagem de fundo do corpo */
    background-size: cover; /* Garante que a imagem de fundo cubra toda a tela */
    font-family: 'Roboto', sans-serif; /* Define a fonte para o corpo do texto */
    margin: 0; /* Remove as margens padrão */
    padding: 0; /* Remove os preenchimentos padrão */
}

.wrapper {
    display: flex; /* Torna o container flexível */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    margin-top: 50px; /* Espaçamento superior */
    flex-wrap: wrap; /* Permite que os elementos quebrem para uma nova linha em telas menores */
}

.imagem {
    margin-right: 20px; /* Espaçamento à direita */
    margin-bottom: 20px; /* Espaçamento inferior */
}

.imagem img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner pai */
    height: auto; /* Mantém a proporção da imagem */
}

.container {
    width: 100%; /* Ocupa todo o espaço disponível */
    max-width: 600px; /* Largura máxima */
    padding: 20px; /* Espaçamento interno */
    background-color: rgba(255, 255, 255, 0.4); /* Cor de fundo com transparência */
    border-radius: 8px; /* Borda arredondada */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199); /* Sombra */
    margin-left: 20px; /* Espaçamento à esquerda */
}

h1 {
    text-align: center; /* Alinhamento do texto */
    margin-bottom: 30px; /* Espaçamento inferior */
    color: #0e0e0e; /* Cor do texto */
}

form {
    display: flex; /* Torna o formulário flexível */
    flex-wrap: wrap; /* Permite que os elementos quebrem para uma nova linha em telas menores */
    justify-content: center; /* Centraliza os elementos horizontalmente */
    margin-bottom: 20px; /* Espaçamento inferior */
}

input[type="text"] {
    flex: 1; /* Ocupa o espaço disponível */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda */
    border-radius: 4px; /* Borda arredondada */
    font-size: 16px; /* Tamanho da fonte */
    margin-right: 10px; /* Espaçamento à direita */
}

button {
    padding: 10px 20px; /* Espaçamento interno */
    cursor: pointer; /* Altera o cursor ao passar sobre o botão */
    background-color: #34485e; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 4px; /* Borda arredondada */
    font-size: 16px; /* Tamanho da fonte */
    transition: background-color 0.3s; /* Transição suave de cor de fundo */
}

button:hover {
    background-color: rgb(0, 183, 255); /* Cor de fundo ao passar o mouse */
}

#drinkSelect {
    flex: 1; /* Ocupa o espaço disponível */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda */
    border-radius: 4px; /* Borda arredondada */
    font-size: 16px; /* Tamanho da fonte */
    background-color: #fff; /* Cor de fundo */
    margin-right: 10px; /* Espaçamento à direita */
    margin-top: 10px; /* Espaçamento superior */
}

#drinkSelect option {
    background-color: #fff; /* Cor de fundo */
    color: #333; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
}

.drink-info {
    display: flex; /* Torna o conteúdo flexível */
    justify-content: space-between; /* Distribui os elementos igualmente ao longo do eixo principal */
    align-items: flex-start; /* Alinha os elementos ao topo */
}

.drink-image {
    flex: 1; /* Ocupa o espaço disponível */
    margin-top: auto; /* Alinha a parte superior ao final do contêiner pai */
    margin-right: auto; /* Alinha a margem direita ao final do contêiner pai */
    margin-left: 20px; /* Espaçamento à esquerda */
}

.drink-image img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner pai */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 4px; /* Borda arredondada */
}

.drink-details {
    flex: 2; /* Ocupa duas vezes o espaço do contêiner pai */
}

.drink-details h2 {
    font-size: 24px; /* Tamanho da fonte */
    margin-bottom: 10px; /* Espaçamento inferior */
    color: #000000; /* Cor do texto */
}

.drink-details p {
    font-size: 16px; /* Tamanho da fonte */
    margin-bottom: 8px; /* Espaçamento inferior */
    color: #020202; /* Cor do texto */
    text-align: justify; /* Alinha o texto justificado */
}

.drink-details p:last-child {
    margin-bottom: 0; /* Remove o espaçamento inferior do último parágrafo */
}
